# Database options for various Rack environments.
# Use any options accepted by PG::Connection#new.
module DB
  Config = {
    'development' => {
      'host'   => 'localhost',
      'dbname' => ''
    },
    'test'        => { },
    # note that 'production' will be overridden by
    # ENV['DATABASE_URL'] in, e.g. Heroku
    'production'  => { }
  }
end
